body {
  background-image: url("./images/Hoop_Hub_bkgrd_No_logo_v3.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.logo {
  text-align: center;
}

.a {
  color: #f7f7f7;
  font-size: 16px;
}

#main-logo{
  margin-top: 85px;
  width: 15%;
}

#login_button {
  margin-top: 25px;
}

#new_user_button {
  margin-top: 25px;
}

.form-inline {
  margin-top: 50px;
}

#new-user-form {
  width: 20%;
  margin: 0 auto;
}

#edit-user-form {
  width: 20%;
  margin: 0 auto;
}

#new-user-headline {
  text-align: center;
  color: white;
}

.form-control {
  color: white;

}

/*USER PROFILE DIV */
.player_update {
  text-align: center;
  color: white;
}

.player-update-list {
  list-style: none;
  margin-right: 44px;
}

.player-update-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.player-update-source {
  font-style: italic;
}

.player-update-updated {
  font-style: italic;
}


.user-profile-div {
 width: 300px;
 height: 500px;
 margin-left: 50px;
 background-color: rgba(1,128,128,0.7);
 border-radius: 15px;
 float: left;
}

#user_image {
 width: 200px;
 height: 215px;
 border-radius: 50%;
 margin-left: 45px;
 margin-top: 25px;
}

.user_content {
  text-align: center;
  margin-top: 25px;
}

#edit_user_button {
  margin: 20px;
}

#player_list {
  overflow: scroll;
  height: 500px;
}

/*USER PLAYER LIST*/

.user-player-list-div {
  width: 450px;
  height: 500px;
  margin-left: 500px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 15px
}


#player_list ul {
  list-style: none;
}


#player_list ul li {
  display: inline;
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
}

#index_button {
  margin: 0 auto;
}

/* LAST GAME DIV */
.player_stats {
  color: white;
  text-align: center;
 width: 300px;
 height: 300px;
 margin-left: 139px;
 background-color: rgba(128,128,128,0.7);
 border-radius: 15px;
 float: left;
}

.stats-header{
  padding-top: 10px;
}

.stats-content {
  list-style: none;
  margin-right: 50px;
  padding-top: 10px;
}

#player_stats {
  margin-bottom: -295px;
}

/* PLAYER PROFILE DIV */

.player-profile-div {
 width: 300px;
 height: 300px;
 margin-left: 139px;
 background-color: rgba(1,128,128,0.7);
 border-radius: 15px;
 float: left;
}

#player_image {
 width: 100px;
 height: 125px;
 border-radius: 50%;
 margin-left: 102px;
 margin-top: 26px;
}

.player-profile-content {
  text-align: center;
  color: white;
}

.player-update-div {
  width: 450px;
  height: 600px;
  margin-left: 500px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 15px
}

.player_update {
  height: 500px;
  overflow: scroll;
}

/* LOGIN FORM  */

#login-form {
  width: 20%;
  margin: 0 auto;
}

#login-header {
  margin-top: 175px;
  text-align: center;
  color: white;
}

/* TWITTER FEED  */

.twtr-div {
  color: white;
  background-color: rgba(0,0,0, .7);
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  overflow: scroll;
  height: 750px;
}
.tweets {
  width: 50%;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
}

.tweet-headline {
  text-align: center;
  padding: 10px;
}

/* PLAYER PROFILE   */
