body {
  background-image: url("./images/WFTmul0.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

#new_user_button {
  margin-top: 50px;
}

.form-inline {
  margin-top: 250px;
}

#new-user-form {
  width: 20%;
  margin: 0 auto;
}

#new-user-headline {
  text-align: center;
  color: white;
}

.form-control {
  color: white;

}
